.section-title-wrapper {
    height: 200px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.section-title {
    font-size: 60px;
    font-weight: 700;
    color: var(--white);
    line-height: 1.2;
    font-style: italic;
    text-transform: uppercase;
}

.section-title::after {
    content: "";
    display: block;
    width: 60vw;
    height: 60px;
    background-color: var(--pink);
    position: absolute;
    left: 0;
    bottom: 10%;
    z-index: -1;
}
