.section.hero-container {
    width: 100vw;
    height: 100vh;
    max-height: 1080px;
    padding: 80px;
    margin: unset;
    position: relative;
}

.hero-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero.block,
.hero-carousel,
.hero-slide {
    width: 100%;
    height: 100%;
}

.hero-image-x {
    width: 100%;
    height: 100%;

    picture,
    img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.hero-slide {
    display: flex;
    flex-direction: column;
}

.hero-content-container {
    position: absolute;
    left: 10%;
    top: 30%;
}

.hero-title h1 {
    font-size: 90px;
    line-height: 1.2;
    color: #fff;
    margin: 0 0 20px;
    font-family: Inter, sans-serif;
    font-weight: 900;
}

.hero-text {
    margin-bottom: 80px;
}

.hero-button {
    text-align: center;
    width: 260px;
}
