.section.hero-container {
    width: 100vw;
    height: 710px;
    padding: 80px;
    margin: unset;
    position: relative;
}

.hero-wrapper,
.hero.block,
.hero-carousel,
.hero-slide {
    width: 100%;
    height: 100%;
}

.hero-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-carousel {
    position: absolute;
}

.hero-slide {
    position: absolute;
}

.hero-image-x {
    picture,
    img {
        height: 100vh;
        object-fit: cover;
    }
}

.hero-title {
    position: absolute;
    left: 10%;
    top: 30%;
}
