.featured-item-image-wrapper {
    width: 100%;

    picture,
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.featured.block {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    padding: 40px 20px;
    margin: 0 auto;
    overflow: auto hidden;
    align-items: stretch;
    white-space: nowrap;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.featured-item-wrapper {
    width: 300px;
    min-width: 0;
    padding: 0 20px;
    flex: 0 0 auto;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.featured.block::-webkit-scrollbar {
    height: 4px;

    @media (width >= 768px) {
        display: none;
    }
}

.featured.block::-webkit-scrollbar-thumb {
    background: #ff006a; /* cor da barra */
    border-radius: 4px;

    @media (width >= 768px) {
        display: none;
    }
}
