.about-image-wrapper,
.about-title-wrapper,
.about-text-wrapper,
.about-cta-wrapper {
    width: 100%;
}

.about-image-wrapper {
    height: 100vh;

    picture,
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
